.DS_Store

node_modules/*
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
ui/*
ui/


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.project

flatpickr/flatpickr.min.css
flatpickr/flatpickr.min.css
flatpickr/flatpickr.min.js
flatpickr/flatpickr.min.js
flatpickr/flatpickr.min.css

copy_V/
