/* 变量定义
*/
// 主题色
$mainColor: #d43c33;
$lightColor: #f5a5a0;

@mixin comfirmBtn {
    width: 100%;
    border-radius: 0.2rem;
    background-color: $mainColor;
    color: #fff;
    font-size: 0.32rem;
    &:active {
        background-color: $lightColor;
    }
}
